//Color Variable
$pinkish: #ec9fa3;
$teal: #7ee6fd;
$burnt-orange: #fd9f85;
$washed-green: #88d9a0;
$violet: #deb2ee;
$ocean-blue: #3fabca;
$riptide: #80e8d1;
$info: #927bc1;
$warning: #fd7856;
$error: #e4757a;
$success: #63cc82;
$default: #51ddfc;
$grid-text: rgb(129,138,132);
$white-text : #808080;
$viking: #58e1c1;
$nav-text: #5f5f5f;
$btn-text: white;

//Media Queries
$sm-bkpt: 768px;

//Fonts
$main-font: 'Open Sans', sans-serif;

//Font Weights
$light-weight: 100;
$heavy-weight: 700;
