// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 0;
    @include flexn {
      flex-direction: column;
    }
    @include desktop {
      flex-direction: row;
      justify-content: center
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        @include desktop {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    @include desktop {

      // add grid gutter
      margin-left: 10px;
    }
  }
}

%btn-grid {
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  font-weight: $heavy-weight;
  font-size: 18px;
}

.grid__row > .theme__colors {
  @extend %btn-grid;
  text-align: left !important;
  font-weight: 700;
  color: $grid-text;
  font-size: 18px;
  @include desktop {
    text-align: center !important;
  }
  &.grid__col--12 {
    background: $washed-green;
  }
  &.grid__col--6 {
    background: $ocean-blue;
  }
  &.grid__col--4 {
    background: $teal;
  }
  &.grid__col--3 {
    background: $violet;
  }
  &.grid__col--5 {
    background: $success;
  }
  &.grid__col--7 {
    background: $pinkish;
  }
  &.grid__col--8 {
    background: $burnt-orange;
  }
}
